{% extends 'base.htm' %}

{% block title %}
    EDIT
{% endblock title %}

{% block style %}


{% endblock style %}


{% block body %}

    <div class="container"> 
        <div class="row">
            <div class="col-12 text-center">
                <h2 class=" alert alert-success">  EDIT PORFILE </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center border mt-5 p-3 border-dark">
                <form action=""  method="POST">
                    {% csrf_token %}
                    {{stu.as_p}}
                    <input type="submit" value=" SUBMIT " class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock body %}